.day {
  flex: 1;
  position: relative;
  font-size: 1rem;
  //background-color: rgb(50,50,50);
  //border: 1px solid rgb(50,50,50);

}

.day__header {
  position: absolute;
  top: -10px;
  left: 8px;
  display: inline-block;
  //background-color: white;

  font-family: verdana;
  font-size: 14px;
}
