@import url('https://fonts.googleapis.com/css?family=Hind+Madurai');
body {
  margin: 0;
  background-color: #141414;
  color: #9f9f9f;
  font-family: 'Hind Madurai', sans-serif;

}
*, *:before, *:after {
  box-sizing:border-box;
}

#app-container {
  height: 100vh;
  width: 100vw;
}