.scheduler {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.scheduler__header {
  padding: 1rem;
  border-bottom: 1px solid black;
}

.scheduler__info {
  float: right;
  margin: 0;
  font-size: 0.7em;
}

.scheduler__container {
  overflow: auto;
}

.scheduler__content {
  position: relative;
  display: flex;
  width: 100vw;
  height: 4500px;
  min-width: 1350px;
  margin-top: 2rem;
}
