.scheduler {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.scheduler__header {
  padding: 1rem;
  border-bottom: 1px solid black;
  flex: 0 0 60px;
}

.scheduler__info {
  float: right;
  margin: 0;
  font-size: 0.7em;
}

.scheduler__container {
  overflow: auto;
}

.scheduler__content {
  position: relative;
  display: flex;
  width: 100%;
  height: 4500px;
  min-width: 1280px;
  margin-top: 2.5rem;
}
