.scheduler {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.scheduler__header {
  padding: 1rem;
  border-bottom: 2px solid black;
}

.scheduler__container {
  overflow: auto;
}

.scheduler__content {
  position: relative;
  display: flex;
  width: 2000px;
  height: 400vh;
}
